body {
    font-family: 'Dosis', sans-serif;
    /* background-color: lightgray; */
    
}

#header {
    text-align: center;
    
}

.graphContainer {
    /* position: relative; */
    max-width: 800px;
    margin: 0 auto;
}

/* svg .svg-content{
    position: relative;
} */

.line--fade {
    opacity: 0.4;  
  }
    
.line--hover {
    stroke-width: 2px;
    opacity: 1.0;
  }

.text--fade {
    opacity: 0.4;
    
   
}

.text--hover {
    opacity: 1.0;
}

.tooltip {
    position: absolute; 
    text-align: center;
    min-width: auto; 
    /* min-height: ; */
    padding: 8px;
    margin-top: -20px;
    font: 14px;
    background: black;
    pointer-events: none;
    border-radius: 3px;
    color: white;
  }

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
    clear;
    box-sizing: border-box;
    display: inline;
    font-size: 11px;
    top: 30%;
    left: -10%;
    line-height: 1;
    color: black;
    content: "\25C0";
    position: absolute;
    text-align: center;
  }
