html {
  box-sizing: border-box;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;   
  background-color: #202020;
}
  
  
  

.leftColumn {
    width: 100%; /* ensure grow on screen change */
}

@media (min-width: 800px) {
    .columnContainer {
        flex-direction: row;
    }

    .leftColumn, .middleColumn, .rightColumn {
      display: inline-block;
      vertical-align: top;
    }

    .leftColumn {
        max-width: 185px;
        
    }
    
    .middleColumn {
        margin-left: 50px; 
    }

    .rightColumn {
      /* background-color: pink; */
    }
    
}

.dashboard {
  /* background-color: #F4F1F1; */
  opacity: 0.8;
  border-radius: 5px;
  color: #202020;
  font-size: 24px;
  color: white;
  /* background-color: blue; */
  /* padding: 10px; */
  /* min-height: 100px; */
  /* padding: 20px; */
}

.db_text {
  padding: 12px;
}

.titleContainer {
    color: white;
    font-size: 28px;
    letter-spacing: 7px;
    padding: 10px;
    /* background-color: blue; */
    
}


/* .bubbleContainer svg {
    border-radius: 0px 10px 10px 0px;
} */


.voronoi path, .voronoi2 path {
      fill: none;
      pointer-events: all;
  }


.centuriesContainer {

}

.centDashboard {
  /* background-color: green; */
}



.lYAxis path , line {
  stroke: none;
}

    